Html, body {
    height: 100%;
    width: 100%;
    font-family: 'Arial';
    margin: 0;
}

.header {
    /* background-color: #54585A; */
    background-color: #F5F5F5;
    overflow: hidden;
    width: 100%;
}

.header label {
    display: block;
    text-align: center;
    font-size: 17px;
    float: left;
    color: #54585A;
    padding: 4px 2px;
    margin: 14px 16px;
    cursor: pointer;
}

.header .navigate {
    border-left: 1px;
    border: none;
    background-color: inherit;
    color: #54585A;
    padding: 4px 2px;
    margin: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.header .navigate:hover {
    color: #A6192E;
}

.header .loginregister {
    float: right;
}