Html, body {
    height: 100%;
    width: 100%;
    font-family: 'Arial';
    margin: 0;
}

.header {
    background-color: #F5F5F5;
    width: 100%;
}

.header .labelContainer {
    display: inline-block;
}

.header label {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    color: #54585A;
    padding: 4px 2px;
    margin: 14px 16px;
    cursor: pointer;
}

.header .loginregister {
    float: right;
}

.header .buttonContainer:hover {
    color: #A6192E;
}

.header .buttonContainer {
    display: inline-block;
    color: #54585A;
    border-left: 1px dotted lightgrey;
    cursor: pointer;
}

.header .navigate {
    border-left: 1px;
    border: none;
    background-color: inherit;
    color: inherit;
    padding: 4px 2px;
    margin: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: inherit;
}