#info {
	display: none;
}

.itemContainer {
	clear: both;
	max-width: 600px;
    width: 80%;
    padding: 30px;
    margin: 10px auto;
    color: #000;
    padding: 5px;
    box-shadow: 1px 1px 2px 0px #777;
    background-color: #F5F5F5;

}

.itemTitle {
    color: #A6192E;
    font-weight: 550;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2px 0px;
}

.itemFaculty {
    color: #A6192E;
    font-weight: 550;
    font-size: 15px;
    margin-right: 3px;
    float: left;
    line-height: 18px;
}

.itemCourseNum {
    color: #A6192E;
    font-weight: 550;
    font-size: 15px;
    clear: right;
    line-height: 18px;
}

.itemPrice {
    font-size: 15px;
    color: #54585A;
    line-height: 18px;
}

.itemDesc {
    font-size: 15px;
    color: #54585A;
    white-space: normal;
    overflow-y: auto;    
    text-overflow: ellipsis;
}

.itemEdit {
	margin-bottom: 10px;
	margin-top: 5px;
    border: none;
    padding: 5px 10px;
    background-color: #A6192E;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0px #777;
}

.itemEdit:hover {
	background-color: #B64556;
}

.itemDelete {
	margin-bottom: 10px;
	margin-top: 5px;
    border: none;
    padding: 5px 10px;
    background-color: #A6192E;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0px #777;
    float: right;
    
}

.itemDelete:hover {
	background-color: #B64556;
}

.itemSave {
	margin-bottom: 10px;
	margin-top: 5px;
    border: none;
    padding: 5px 10px;
    background-color: #A6192E;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0px #777;
}

.itemSave:hover {
	background-color: #B64556;
}