#conversationTitle {
    float: left;
    font-size: 26px;
    margin: 5px;
    height: 40px;
    font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
    background-color: #A6192E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    margin-left: calc(50% - 20px);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.messagesBody {
    width: 100%;
}

.messageDisplay {
    width: calc(50% - 20px);
    float: left;
    overflow-y: scroll;
    max-height: 250px;
    margin-right: 20px;
}

.msgContainer {
    margin: 5px;
}

.msgContainer * {
    margin: 5px;
}

.msgFromYou {
    margin: 10px 5px;
    padding: 10px;
    background-color: #87CEFA;
    border-radius: 10px;
    text-align: right;
    box-shadow: 1px 1px 2px #1E90FF;
}

.msgFromOther {
    margin: 10px 5px;
    padding: 10px;
    background-color: #DCDCDC;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #696969;
}

#messageTitle {
    font-size: 16px;
    font-weight: bold;
}

#newMessage {
    margin-left: calc(50% - 20px);
    height: 250px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(117, 17, 32);}