body {
    background-color: #54585A;
}

#loader {
    padding-top: 20px;
    width: 100%;
}

#loaderContainer {
    max-width: 100px;
    margin: 0 auto;
}

#container {
    background-color: #F5F5F5;
}

.search {
    max-width: 740px;
    width: 80%;
    padding: 50px 30px;
    margin: 0px auto;
    color: #54585A;
}

.sTerm {
    display: block;
    overflow: hidden;
}

.searchTerm {
    padding: 12px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
}

.searchButton {
    float: right;
    margin: 8px 0;
    height: 41px;
    background-color: #A6192E;
    border: none;
    color: white;
    padding: 0 15px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #B64556;
}

.searchText {
    margin: 10px 0 0 0;
    text-align: center;
}

.searchWrapper {
    width: 100%;
    background-color: #54585A;
    padding-bottom: 30px;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 10px 2px gray;
}

.loading{
    font-size:0;
    width:25px;
    height:25px;
    margin-top:5px;
    border-radius: 50%;
    padding:0;
    border:3px solid #FFFFFF;
    border-bottom:3px solid rgba(255,255,255,0.0);
    border-left:3px solid rgba(255,255,255,0.0);
    background-color: #A6192E !important;
    animation-name: rotateAnimation;
    -webkit-animation-name: wk-rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  
@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

#itemWrapper {
    width: 100%;
    background-color: #F5F5F5;
    margin: 10px 0 0 0;
    padding: 0 0 20px 0;
}

#itemContainer {
    max-width: 600px;
    width: 80%;
    padding: 30px;
    margin: 0px auto;
    color: #000;
    padding: 0;
}

#itemContainer h1 {
    font-size: 20px;
    padding: 5px 5px 5px 15px;
    color: #54585A;
}

#noItems {
    text-align: center;
}

.itemBox {
    padding: 15px;
}

.itemBox p {
    margin: 5px;
}

.itemBox .title {
    color: #A6192E;
    font-weight: 550;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.itemBox .title:hover {
    opacity: .7;
}

.itemBox .course {
    color: #A6192E;
    font-weight: 550;
    font-size: 15px;
}

.itemBox .price {
    font-size: 15px;
    color: #54585A;
}

.itemBox .desc {
    font-size: 15px;
    color: #54585A;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.getMore {
    width: 100%;
    margin: 8px 0;
    height: 41px;
    background-color: #A6192E;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
    display: none;
}

.getMore:hover {
    opacity: .8;
}

.loaderDivMore {
    position: absolute;
    left: 50%;
}

#moreText {
    padding: 10px 0 0 0;
    text-align: center;
}